
body {
      width: 100%;
      min-height: 95vh;
      overflow-x: hidden;
      box-sizing: border-box;
      outline: none;

      background-color: red;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
}

div {
      width: 80%;
      margin: 0 auto;
      font-size: 24px;
      text-align: justify;
}


/* #medium, #large {
      display: none;
}

#small {
      display: block;
} */

@media only screen and (min-width: 300px) {
      body {
            background-color: green;
      }

      #small {
            width: 66%;
      }

      #medium {
            width: 33%;
      }

      #large {
            width: 100%;
      }

      
}

@media only screen and (min-width: 768px) {
      body {
            background-color: blue;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: nowrap;
      }

      #small, #medium, #large {
            width: 30%;
      }
      
}